/*.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #222;
    border: 3px solid #e74c3c;
    border-radius: 20px;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 720px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 90;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .fourth {
    border-color: #222;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, black 50%, transparent 50%);
    background-image: linear-gradient(45deg, black 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  } */
  
  .btn{
    
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    border: 2px solid #222;
    padding: 5px;
    margin-left: 700px;
    overflow: hidden;
    transition: 1s all ease;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 30px;
    padding-right: 30px;
  }
   
  .btn::before{
    background: black;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }

  .btn3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn3:hover::before{
    height: 380%;
  }  

  .box {
    width: 350px;
    height: 45px;
    background-color: #b0e0e633;
    color: wheat;
    padding: 20px;
    position: relative;
    margin: 15px;
    float: left;
    
  }
  
  .box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 0px solid transparent;
    border-right: 15px solid powderblue;
    border-left: none;
    border-bottom: 15px solid transparent;
  }


.but1{
    background-image: linear-gradient(to right, #04243e, #0677aa, #044e7e, #047493, #044c64);
    border: 2px solid powderblue;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    color: aliceblue;
    font-family: cursive;
    font-size:16px;
}
.button :hover{
  border: 3px solid whitesmoke;
}


.but2{
    background-image: linear-gradient(to right, #04243e, #0677aa, #044e7e, #047493, #044c64);
    border: 2px solid powderblue;
    border-radius: 20px;
    padding: 8px;
    color: aliceblue;
    font-family: cursive;
    font-size:16px;
}
.but3{
    background-image: linear-gradient(to right, #04243e, #0677aa, #044e7e, #047493, #044c64);
    border: 2px solid powderblue;
    border-radius: 20px;
    padding: 8px;
    color: aliceblue;
    font-family: cursive;
    font-size:16px;
} 
.but4{
    background-image: linear-gradient(to right, #04243e, #0677aa, #044e7e, #047493, #044c64);
    border: 2px solid powderblue;
    border-radius: 20px;
    padding: 8px;
    color: aliceblue;
    font-family: cursive;
    font-size:16px;
}
.but5{
    background-image: linear-gradient(to right, #04243e, #0677aa, #044e7e, #047493, #044c64);
    border: 2px solid powderblue;
    border-radius: 20px;
    padding: 8px;
    color: aliceblue;
    font-family: cursive;
    font-size:16px;
}
.but6{
    background-image: linear-gradient(to right, #04243e, #0677aa, #044e7e, #047493, #044c64);
    border: 2px solid powderblue;
    border-radius: 20px;
    padding: 8px;
    color: aliceblue;
    font-family: cursive;
    font-size:16px;
}


.btn-animate {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}